.piece {
    position: relative;
    max-height: 185px;
    max-width: 185px;
    cursor: pointer;
}

.piece:hover {
    transform: scale(1.009);
}

.piece img {
    width: 100%;
    display: block;
    /* border: 2px solid #f5f5f5; */
    border-radius: 6px;
    background: #f5f5f5;
}

.piece .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.piece .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}